/* 
- Mobile: 375px
- Desktop: 1440px 
*/

/* Colors */
:root {
  /* Primary */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
   /* Neutral */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* Font Weights: 400, 700, 800 */

body {
  font-size: 15px;
  font-family: 'Inter', sans-serif, monospace;
}

main {
  padding: 1rem;
}

a {
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav ul li:first-child {
  font-size: 3rem;
  font-weight: 900;
  font-family: serif;
}

nav img {
  margin-top: 1rem;
}

.heroSection {
  padding: 1rem;
  padding-top: 0;
}

.aboveTheFold h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.aboveTheFold p {
  padding: 1.5rem 0;
  line-height: 2rem;
}

.aboveTheFold button {
  width: 50%;
  padding: 1rem 0;
  letter-spacing: .4rem;
  font-weight: 400;
  color: var(--off-white);
  background-color: var(--soft-red);
  border: none;
}

